/*
 *
 * GLOBAL STYLES
 *
 */

body {
	font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

.content {
	position: relative;
	background-color: #00787a;
}

.container,
.page {
	padding: 0 25px 50px;
}

a {
	color: #333;
	text-decoration: underline;
}

.click a {
	font-style: italic;
}

/*
 *
 * NAVIGATION
 *
 */
.navbar {
  padding: 0;
  background-color: #fff !important;
}

.navbar-nav {
  flex-direction: row;
  padding-left: 17px;
}

nav li {
	display: flex;
	margin: 0;
	padding: 16px 8px;
}

nav .active {
  font-weight: bold;
  background-color: #ff8785;
}

nav a {
	text-decoration: none;
	color: #333;
}

nav a:hover,
nav a:focus {
	text-decoration: underline;
	color: #333;
}

nav .active a {
  color: #fff;
}

/*
 *
 * HOME PAGE
 *
 */
.home-page .content {
	height: 100%;
	background-color: #333;
}

.home-page .content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
	background-image: url("../img/profile.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.home-page .page {
  padding-top: 25px;
  position: relative;
  z-index: 2;
}

#title {
	text-align: center;
	color: #fff;
}

#title h1 {
  font-size: 64px;
  line-height: 0.8;
  font-family: 'Poiret One', sans-serif;
  margin-bottom: 24px;
}

#title h2 {
	font-family: 'Sacramento', sans-serif;
  font-size: 40px;
  line-height: 0.8;
  margin-bottom: 32px;
}

#resources ul {
	list-style-type: none;
	margin-top: -8px;
	padding: 0;
}

#resources li {
	display: inline;
	padding: 5px;
}

/*
 *
 * SUBPAGES
 *
 */
.sub-page {
	background-color: #00787a;
}

.sub-page h1 {
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 96px;
	font-family: 'Poiret One', sans-serif;
}

.white-bg {
	margin-top: 10px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px gray;
	background-color: #fff;
}

.white-bg h2 {
	font-size: 56px;
	font-family: 'Sacramento', sans-serif;
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
	margin-top: 20px;
}

.white-bg h3 {
	font-family: 'Poiret One', sans-serif;
	font-size: 40px;
}

.sub-page .home-page-link, .home-page-link, .notice {
	text-align: center;
}


/*
 *
 * CONTACT PAGE
 *
 */
textarea {
	resize: vertical;
	max-height: 150px;
}

input, textarea {
	outline: none; /* You can change this for a more intense border color */
	border: 1px solid #00787a;
}

input:focus, textarea:focus {
	box-shadow: 0 0 4px rgba(119, 136, 199, 0.5);
}

::placeholder {
	color: #2f3e73;
}

table {
	width: 100%;
}

.contact-form {
	display: block;
	text-align: center;
}

.form-element {
	display: inline-block;
	margin: 10px auto;
	width: 40%;
	

	/* The following is copied from https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Styling_HTML_forms#Box_model */
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
	
}

.form-element, button {
	font-size: 100%;
	line-height: 1.5;
	font-family: Helvetica, sans-serif;
	-webkit-appearance: none;
	border-radius: 5px;
}


/*
 *
 * BLOG PAGE
 *
 */
.code {
	background: rgba(0, 0, 0, .05);
	padding: 20px;
	font-family: monospace;
	margin: 0;
}

.step {
	font-weight: bold;
	font-size: 19px;
}

.time-stamp {
	padding-bottom: 16px;
}

.time-stamp p {
	margin: 0;
	font-style: italic;
	color: gray;
}

/*
 *
 * PORTFOLIO PAGE
 *
 */



.work-item {
	margin-bottom: 20px;
}

.graphic-thumbnail {
	display: inline;
}


/*
 *
 * PORTFOLIO DETAILS PAGES
 *
 */
.subp.warner .page {
	padding-top: 80px;
}

.cover {
	height: 150px;
}

.subp.warner .cover {
	background-color: #fff;
	background-image: url(../img/warner_lg_2.jpg);
	background-size: cover;
}

.logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px;
	position: absolute;
	top: 75px;
	left: calc(50% - 75px);
}

.visit {
	text-align: center;
	margin-top: 0;
}

.visit a {
	font-style: italic;
}

.white-bg .portfolio-h2 {
	font-size: 36px;
}

.subp.warner .white-bg h3 {
	font-size: 24px;
}

.subp #portfolio-h1 {
	font-size: 28px;
	margin-top: 5px;
	margin-bottom: 12px;
	text-align: center;
}

#portfolio img {
	border-radius: 50%;
}

#portfolio img, #portfolio .description {
	display: inline-block;
	vertical-align: top;
}

#portfolio img {
	width: 30%;
}

/* #portfolio .graphic-thumbnail img {
	width: 25%;
	padding: 16px;
} */

#portfolio .description {
	width: 60%;
	padding: 20px;
}

@media only screen and (min-width: 768px) {
  
  /* HOME PAGE */
  .home-page .page {
    padding-top: 75px;
  }

  #title h1 {
    font-size: 72px;
  }

	/* PORTFOLIO DETAILS PAGES */
	.white-bg .portfolio-h2 {
		font-size: 40px;
	}

}

@media only screen and (min-width: 992px) {

	.container {
		margin: 0 auto;
		width: 70%;
		max-width: 960px;
	}

  .page,
  .navbar-nav {
    margin: 0 auto;
    padding: 0;
		width: 80%;
		max-width: 960px;
  }

  .page {
    padding-bottom: 50px;
  }
  
  /* HOME PAGE */
  #title {
    max-width: 600px;
    margin: 0 0 0 auto
  }

  #title h1 {
    font-size: 96px;
  }

  #title h2 {
    font-size: 48px;
  }

	/* PORTFOLIO DETAILS PAGES */
	.subp #portfolio-h1 {
		font-size: 36px;
	}

	.subp.warner .white-bg h3 {
		font-size: 28px;
	}
}