
# BEGIN WordPress
AddHandler application/x-httpd-php70s .php
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /jenniferhayes/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jenniferhayes/index.php [L]
</IfModule>

# END WordPress
AuthType Basic
AuthName "jenniferhayes"
AuthUserFile "/home1/stephwar/.htpasswds/public_html/jenniferhayes/passwd"
require valid-user
